<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Socket Chatroom</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.7/socket.io.min.js"></script>
  <script src="/scripts/chatroom.js"></script>
  <link rel="stylesheet" href="/css/style.css">
   
</head>
<body>
  <div id="welcome-text">
    <h1>Welcome to the Yewtree chatroom</h1>
  </div>

  <ul id="messages"></ul>
    <form class="chat-form" action="">
      <input id="name-box" autocomplete="on" placeholder="ENTER USERNAME HERE" />
      <input id="m" autocomplete="off" placeholder="type your awful chat here" autofocus="autofocus"/>
      <button id="form-button">Send</button>
    </form>
</body>
</html>